h1 {
  color: blue;
}

.gameboard-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.gameboard-container button {
  /* size: 50px; */
  height: 100px;
  width: 100px;
  font-size: 2em;
}
